version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: gestao_financeira_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: financas_pessoais
      MYSQL_USER: kairo
      MYSQL_PASSWORD: userpassword
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
